.mat-horizontal-stepper-wrapper {
	// padding: 1.5rem 0 !important;
}

.mat-horizontal-stepper-header-container {
	// padding: 1.5rem 1.5rem !important;
}

.mat-step-icon {
	background-color: var(--color-primary) !important;
	height: 34px !important;
	width: 34px !important;
	// padding: 19px !important;
}

.mat-horizontal-stepper-header {
	padding: 19px !important;
}

.mat-calendar-header {
	font-size: 1.4rem;
}

.mat-calendar-table-header {
	font-size: 1.3rem;
}

.mat-calendar-body-label {
	font-size: 1.3rem !important;
}
