<div class="stepper-container">
	<mat-horizontal-stepper [linear]="false" class="mat-elevation-z5" labelPosition="bottom">
		<!-- STEP 1 -->
		<mat-step [stepControl]="step1.form" errorMessage="Course page details in error">
			<ng-template matStepLabel>Course page details</ng-template>
			<app-create-course-step-1 #step1></app-create-course-step-1>

			<div class="stepper-buttons right-text">
				<button (click)="checkStep1Validity(step1.form)" class="btn btn-primary" matStepperNext>Step 2</button>
			</div>
		</mat-step>
		<!-- STEP 2 -->
		<mat-step errorMessage="Pricing page in error">
			<ng-template matStepLabel>Course pricing details</ng-template>
			<app-create-course-step-2 #step2></app-create-course-step-2>

			<div class="stepper-buttons flex flex-center flex-space-between">
				<button class="btn btn-primary" matStepperPrevious>Back</button>
				<button class="btn btn-primary" matStepperNext>Step 3</button>
			</div>
		</mat-step>
	</mat-horizontal-stepper>
</div>
