<div class="course-step-1" [formGroup]="form">
	<div class="form-group">
		<input #title type="text" formControlName="title" placeholder="Course title" [ngClass]="{'invalid': isInvalid('title'), 'valid': isValid('title')}" class="form-control text-md" />
		<div class="message-set">
			@if (form.get('title')?.hasError('required') && form.get('title')?.touched) {
				<div class="form-group__error">Title is required ***</div>
			}
			@if (form.get('title')?.hasError('titleExists')) {
				<div class="form-group__error">Title in use</div>
			}
			<div class="spacer"></div>
			<div class="text-sm char-indicator">{{ title.value.length }} / 60</div>
		</div>
	</div>

	<div class="form-group">
		<div class="date-message-set">
			<input formControlName="releaseDateAt" [matDatepicker]="picker" type="text" placeholder="Release date" [ngClass]="{'invalid': isInvalid('releaseDateAt'), 'valid': isValid('releaseDateAt')}" class="form-control text-md" />
			<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</div>
		@if (form.get('releaseDateAt')?.hasError('required') && form.get('releaseDateAt')?.touched) {
			<div class="form-group__error">Release date is required ***</div>
		}
	</div>

	<div>
		<mat-checkbox formControlName="downloadsAllowed" color="primary">Downloads allowed</mat-checkbox>
		@if (form.get('downloadsAllowed')?.hasError('requiredTrue') && form.get('downloadsAllowed')?.touched) {
			<div class="form-group__error">Downloads is required ***</div>
		}
	</div>

	<div class="form-group">
		<textarea formControlName="longDescription" class="form-control-textarea" name="description" placeholder="Description" cols="50" rows="10" [ngClass]="{'invalid': isInvalid('longDescription'), 'valid': isValid('longDescription')}"></textarea>
		@if (form.get('longDescription')?.hasError('required') && form.get('longDescription')?.touched) {
			<div class="form-group__error">Description is required ***</div>
		}
		@if (form.get('longDescription')?.hasError('minlength')) {
			<div class="form-group__error">Minimum char 3</div>
		}
	</div>
	<div>
		{{ form.value | json}}
	</div>
</div>
