<div class="courses-panel">
	<h3 class="heading-secondary center-text m-2">All Courses</h3>
	<button routerLink="create-course" class="btn btn-primary">Add</button>

	<mat-tab-group class="custom-tab-group">
		<mat-tab label="Beginners">
			<app-course-card-list [courses]="beginnerCourses$ | async" (coursesChanged)="reloadCourses()"> </app-course-card-list>
		</mat-tab>

		<mat-tab label="Advanced">
			<app-course-card-list [courses]="advancedCourses$ | async" (coursesChanged)="reloadCourses()"> </app-course-card-list>
		</mat-tab>
	</mat-tab-group>
</div>
